$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/* General Styles */ 
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

/* Somes Media Queries */
@media (min-width: 768px) {
  .logo {
    margin: 10px;
  }
}
@media (min-width: 992px) {
  .logo {
    margin: 0 0 20px 40px;
  }
  .footer {
    padding: 50px;
  }
}


/* All footers stuff */ 
.footer {
  color: #F3F3F3;

  h4 {
    color: #DD5800;
  }
  h4, p, a {
    font-weight: 300;
  }

  img {
    border: 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  a {
    color: #fff;
    i {
      padding-right: 10px;
    }
  }
}

/* Grid videos and pictures came from API */
#vidbeadgrid {
  
  color: #fff;
  font-weight: 300;
  margin: 0 0 100px 0;
  padding: 0 10px;

  .vidbeadbox {

    padding: 0 1px 1px 0;
    margin: 0;

    a {
      color: #fff;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
    }

    img {
      border: 0;
    }

    img:hover {
      opacity: .8;
    }

    ul {
      margin:0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
        vertical-align: top;

        i {
          color: #fff;
          padding: 0 5px 0 0;
        }
      }
    }
    .caption {
      display: hidden;
    }
    .caption:hover {
      display: block;
    }
  }
}

